body{
    background-color: azure;
}
.div1{
    height: 320px;
    width: 310px;
    background-color:rdddawswawswawsdwsdadadadadadadadadadadadadawawwawawaagba(   155ddddddd , green, blue, alpha);
    border-radius: 22px;
    border-left: 90px;
    
}
.div2{

}
.div3{

}
.div4{
    
}